<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babacar.ucollaboration">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Permissions de localisations -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Globals.Activitys.CreerComptePro"></activity>
        <activity android:name=".Globals.Activitys.UserSpace" />
        <activity android:name=".Globals.Utilitaires.SpalshCreenAcceuil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Globals.Activitys.Acceuil" />
        <activity android:name=".Globals.Activitys.Inscription" />
        <activity android:name=".Globals.Activitys.Connexion" />
        <activity android:name=".Globals.Activitys.EmailVerification" />
        <activity android:name=".Globals.Utilitaires.SplashCreenOK" /> <!-- UMarket -->
        <activity android:name=".UMarket.Activitys.Facture" />
        <activity android:name=".UMarket.Activitys.ListeVente" />
        <activity android:name=".UMarket.Activitys.MemeCategorie" />
        <activity android:name=".UMarket.Activitys.ListeUser" />
        <activity android:name=".UMarket.Activitys.AcheterBien" />
        <activity android:name=".UMarket.Activitys.Panier" />
        <activity android:name=".UMarket.Activitys.DetailsBIen" />
        <activity android:name=".UMarket.Activitys.MainActivity" />

        <service android:name=".UMarket.Activitys.ServiceMinuteur" /> <!-- UMaps -->
        <activity android:name=".UMaps.Activitys.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity android:name=".UService.Activitys.MainActivity" />
        <activity android:name=".UService.Models.Categorie" />
    </application>

</manifest>