<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babacar.ucollaboration">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Permissions de localisations -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UInfos.Activitys.Uinfo_Accueil" />
        <activity android:name=".UInfos.AllInfo" />
        <activity
            android:name=".Globals.Activitys.GererCompte"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UMarket.Activitys.CategoriesBien"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UMaps.Activitys.Historique"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".UMaps.Activitys.Aide" />
        <activity
            android:name=".UMarket.Activitys.ProfileLivreur"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UService.Activitys.CategoriesService"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Globals.Activitys.CreerComptePro"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Globals.Activitys.UserSpace"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Globals.Utilitaires.SpalshCreenAcceuil"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Globals.Activitys.Acceuil"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Globals.Activitys.Inscription"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Globals.Activitys.Connexion"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Globals.Activitys.EmailVerification"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Globals.Utilitaires.SplashCreenOK"
            android:configChanges="orientation"
            android:screenOrientation="portrait" /> <!-- UMarket -->
        <activity
            android:name=".UMarket.Activitys.Facture"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UMarket.Activitys.ListeVente"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UMarket.Activitys.MemeCategorie"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UMarket.Activitys.ListeUser"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UMarket.Activitys.AcheterBien"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UMarket.Activitys.Panier"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UMarket.Activitys.DetailsBIen"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UMarket.Activitys.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" /> <!-- UMaps -->
        <service android:name=".UMarket.Activitys.ServiceMinuteur" />

        <activity
            android:name=".UMaps.Activitys.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity
            android:name=".UService.Activitys.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UService.Models.Categorie"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>